<div class="jumbotron">
    <h1>SSE Testing</h1>
</div>
<div class="row">
    <form id="connectionForm">
        Client ID: <br/>
        <input type="text" name="clientID"/>
        <input type="submit" value="Subscribe"/>
    </form>
    <div class="col-md-4">
        <h2>Messages:</h2>
        <ul id="messageHolder"/>
    </div>
</div>
